.BackToTop{
    --diameter: 60px;
    --offset: 40px;

    align-items: center;
    background-color: var(--accent-color);
    box-shadow: 3px 3px 0px gray;
    border: 2px solid var(--contrast-color);
    border-radius: 50%;
    bottom: var(--offset);
    display: flex;
    height: var(--diameter);
    justify-content: center;
    position: fixed;
    padding: 15px;
    right: var(--offset);
    transition: var(--transition);
    width: var(--diameter);
    z-index: 2;
}

.BackToTop-Visible{
    opacity: 1;
    pointer-events: auto;
}

.BackToTop-Invisible{
    opacity: 0;
    pointer-events: none;
}

.BackToTop:hover,
.BackToTop:focus{
    box-shadow: 5px 5px 0px rgb(159, 159, 159);
    transform: scale(1.1);
}

.BackToTop img{
    width: 100%;
}

@media (max-width: 900px){
    .BackToTop{
       --diameter: 50px;
       --offset: 15px;

       padding: 10px;
    }
}

@media (max-width: 700px){
    .BackToTop{
        --diameter: 40px;
        --offset: 10px;
    }
}

@media (max-width: 500px){
    .BackToTop{
        --offset: 5px;
    }
}