.BackToTop {
    --diameter: 40px;
    --offset: 20px;

    align-items: center;
    background-color: var(--accent-color);
    box-shadow: 3px 3px 0px gray;
    border: 1px solid var(--contrast-color);
    border-radius: 50%;
    bottom: var(--offset);
    display: flex;
    height: var(--diameter);
    justify-content: center;
    position: fixed;
    padding: 10px;
    right: var(--offset);
    transition: var(--transition);
    width: var(--diameter);
    z-index: 2;
}

.BackToTop-Visible {
    opacity: 1;
    pointer-events: auto;
}

.BackToTop-Invisible {
    opacity: 0;
    pointer-events: none;
}

.BackToTop:hover,
.BackToTop:focus {
    box-shadow: 5px 5px 0px rgb(159, 159, 159);
    transform: scale(1.1);
}

.BackToTop img {
    width: 100%;
}