.Separator {
    align-items: flex-end;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 95px 0 75px; /* margin-right should be 20px more than margin-left to account for height of text */
}

.Separator-Link {
    font-family: var(--mono-font);
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: 200;
    transition: var(--transition);
    transform: rotate(180deg);
    writing-mode: vertical-rl;
}

.Separator-Link:hover {
    transform: rotate(180deg) scale(1.1);
    margin-bottom: 7px;
}

.Separator-Link .Accent-Text {
    font-weight: 800;
}

.Separator-Line {
    background-color: var(--contrast-color);
    width: 1px;
    height: 100%;
}

@media (max-width: 1560px){
    .Separator{
        margin: 0 50px 0 30px;
    }
}

@media(max-width: 775px){
    .Separator{
        margin: 0 30px 0 10px;
    }
}