.ImageTile {
    align-items: center;
    display: flex;
    height: 150px;
    justify-content: center;
    padding: 15px;
    width: 225px;
}

.ImageTile img {
    height: 100%;
    object-fit: contain;
    width: 100%;
}