.Navbar {
    align-items: flex-end;
    background-color: var(--neutral-color);
    border-bottom: 2px solid var(--contrast-color);
    display: flex;
    height: 82px;
    justify-content: space-between;
    object-fit: contain;
    padding: 20px 30px 5px 30px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;
}

/* accent line @ bottom of Navbar*/
.Navbar::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--accent-color);
    position: absolute;
    left: 0;
    top: 79px;
}

.Navbar-FullLogo {
    height: auto;
    margin-bottom: 5px;
    width: 300px;
    transition: var(--transition);
}

@media (max-width: 750px) {
    .Navbar-FullLogo {
        width: 240px;
        margin-bottom: 0;
    }

    .Navbar {
        padding: 10px 15px;
        flex-wrap: wrap;
        align-items: center;
    }
}