.Resume-Flourish {
    height: 100px;
    /* top/bottom margins offset height */
    margin: -50px 0;
    transition: var(--transition)
}

#Vertical-Circles-Flourish-Resume {
    /* top/bottom margins offset height */
    margin-right: -5vw;
    align-self: flex-end;
    position: relative;
    top: 250px;
}

#Vertical-Lines-Flourish-Resume {
    /* top/bottom margins offset height */
    margin-left: -5vw;
    align-self: flex-start;
    position: relative;
    top: 1000px;
}

#Vertical-Dots-Flourish-Resume {
    align-self: flex-end;
    /* top/bottom margins offset height */
    margin-right: -5vw;
    position: relative;
    top: 2000px;
}

.Resume {
    align-items: center;
}

.Resume h1 {
    align-self: flex-start;
}

#Resume-SidewaysArrow {
    width: 300px;
    margin: -20px auto 0 110px;
    transition: var(--transition);
}

.Resume-PDF-Link {
    border-bottom: 3px solid var(--accent-color);
    margin: -25px 0 25px 0;
    transition: var(--transition);
}

.Resume-PDF-Link img {
    margin-left: 3px;
    transition: var(--transition);
}

.Resume-PDF-Link:hover {
    transform: scale(1.05);
}

.Resume .Dropshadow-Box {
    max-width: 900px;
    padding: 5%;
}

.Resume .Dropshadow-Box>section {
    margin: 30px 0 0 0;
}

.Resume section:first-of-type {
    margin-top: 0;
}

/* Top-level section header */
.Resume h3 {
    margin: 0;
}

/* Company/School/Skill Type */
.Resume h4 {
    margin: 25px 0 5px 0;
}

/* Job Title */
.Resume h5 {
    margin: 15px 0 3px 0;
}

/* Responsibilities/Key Accomplishments */
.Resume h6 {
    margin: 15px 0 0px 0;
}

.Resume .Dropshadow-Box .Subtitle {
    font-size: 0.9em;
    margin: 0;
}

.Resume-Role-Section {
    margin-left: 25px;
}

.Resume ul {
    margin-top: 10px;
    font-size: 12pt;
}

.Resume-Skills-List-Wrapper {
    display: flex;
    column-gap: 50px;
}

.Resume-Skills-List-Wrapper .BulletList {
    columns: 2;
    column-gap: 30px;
}

@media (max-width: 1400px) {
    #Resume-SidewaysArrow {
        width: 200px;
    }
}


@media (max-width: 1300px) {
    .Resume-Flourish {
        height: 75px;
        margin-top: -37.5px;
        margin-bottom: -37.5px;
    }

    #Vertical-Lines-Flourish-Resume {
        margin-left: -8vw;
        height: 100px;
        margin-top: -50px;
        margin-bottom: -50px;
    }

    #Vertical-Circles-Flourish-Resume,
    #Vertical-Dots-Flourish-Resume {
        margin-right: -8vw;
    }
}

@media (max-width: 900px) {
    #Vertical-Lines-Flourish-Resume {
        margin-left: -10vw;
    }

    #Vertical-Circles-Flourish-Resume,
    #Vertical-Dots-Flourish-Resume {
        margin-right: -10vw;
    }
}


@media (max-width: 700px) {
    .Resume-Flourish {
        opacity: 0;
    }
}

@media (max-width: 1150px) {
    #Resume-SidewaysArrow {
        opacity: 0;
    }
}

@media (max-width: 900px) {
    .Resume-Skills-List-Wrapper {
        flex-direction: column;
    }
}