.Resume {
    align-items: center;
}

.Resume h1 {
    align-self: flex-start;
}

#Resume-SidewaysArrow {
    width: 300px;
    margin: -20px auto 0 110px;
    transition: var(--transition);
}

.Resume-PDF-Link {
    margin: -25px 0 25px 0;
    text-decoration: 3px solid underline var(--accent-color);
    transition: hover var(--transition);
}

.Resume-PDF-Link img {
    margin-left: 10px;
    transition: hover var(--transition);
}

.Resume-PDF-Link:hover {
    font-weight: 400;
}

.Resume-PDF-Link:hover img {
    transform: scale(1.2);
}

.Resume .Dropshadow-Box {
    max-width: 900px;
    padding: 5%;
}

.Resume .Dropshadow-Box>section {
    margin: 30px 0 0 0;
}

.Resume section:first-of-type {
    margin-top: 0;
}

.Resume h3 {
    margin: 0;
}

.Resume h4 {
    margin: 15px 0 7px 0;
}

.Resume h5 {
    margin: 15px 0 0px 0;
    font-size: 1em;
    font-weight: 600;
}

.Resume .Dropshadow-Box .Subtitle {
    font-size: 0.9em;
    margin: 0;
}

.Resume ul {
    margin-top: 10px;
}

.Resume-Skills-List-Wrapper {
    display: flex;
    gap: 50px;
}

@media (max-width: 1400px) {
    #Resume-SidewaysArrow {
        width: 200px;
    }
}

@media (max-width: 1150px) {
    #Resume-SidewaysArrow {
        opacity: 0;
    }
}