.TypingLetters {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-top: 20%;
}

.TypingLetters-Text {
    border-right: 4px solid black;
    /* numSteps = number of chars (including spaces)*/
    animation: type 7s steps(16) infinite, cursorBlink 0.75s step-end infinite;
    font-family: var(--mono-font);
    font-size: 4em;
    font-weight: 500;
    margin: 0;
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
}


@keyframes type {
    0%,
    /*start of animation */
    25%,
    /* delay before typing begins */
    100%

    /* time when deletion ends */
        {
        width: 0%;
    }

    50%,
    /* time when typing ends */
    80%

    /* time when deletion begins */
        {
        width: 100%;
    }
}

@keyframes cursorBlink {
    0% {
        border-right-color: black;
    }

    40% {
        border-right-color: black;
    }

    60% {
        border-right-color: transparent;
    }

    100% {
        border-right-color: transparent;
    }
}

.TypingLetters-Background {
    background-color: var(--accent-color);
    bottom: 25px;
    height: 60px;
    position: relative;
    width: 100%;
    z-index: -1;
}

@media (max-width: 1540px ) {
    .TypingLetters-Text {
        font-size: 3em;
    }
}

@media (max-width: 1180px){
    .TypingLetters{
        height: auto;
        margin-top: 0;
    }
}

@media (max-width: 775px){
    .TypingLetters-Text{
        font-size: 2.25em;
    }

    .TypingLetters-Background {
        bottom: 15px;
        height: 40px;
    }
}