.ResumeHeader {
    display: flex;
    margin: 0;
}

.ResumeHeader .Block-Underline {
    width: 100%;
    height: 6px;
    background-color: var(--accent-color);
    margin-top: -10px;
}

.ResumeHeader-Block-Expander {
    flex-grow: 1;
}