.NavMenu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    gap: 30px;
}

.NavMenu li {
    /* Allows .NavMenu-Underline to be absolutely positioned */
    position: relative;
}

.NavMenu li:last-of-type {
    margin-right: 0;
}

.NavMenu a {
    color: var(--black);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 1.3em;
    text-decoration: none;
}

.NavMenu a:last-of-type{
    padding-right: 0px;
}

.NavMenu a:hover+.NavMenu-Underline {
    opacity: 1;
}

.NavMenu-Underline {
    background-color: var(--accent-color);
    bottom: 2px;
    height: 8px;
    opacity: 0;
    position: absolute;
    transition: opacity var(--transition);
    width: 100%;
    z-index: -1;
}

@media (max-width: 500px){
    .NavMenu{
        gap: 15px;
    }
    
    .NavMenu a {
        font-size: 1.2em;
    }
}
