.NavMenu {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    gap: 30px;
    padding: 0;
}

.NavMenu li {
    /* Allows .NavMenu-Underline to be absolutely positioned */
    position: relative;
}

.NavMenu li:last-of-type {
    margin-right: 0;
}

.NavMenu a {
    color: var(--black);
    font-weight: 700;
    letter-spacing: -0.5px;
    line-height: 1em;
    font-size: 1.3em;
    text-decoration: none;
    transition: var(--transition);
}

.NavMenu a:last-of-type{
    padding-right: 0px;
}

.NavMenu a:hover+.NavMenu-Underline {
    opacity: 1;
}

.NavMenu-Underline {
    background-color: var(--accent-color);
    bottom: 2px;
    height: 8px;
    opacity: 0;
    position: absolute;
    transition: opacity var(--transition);
    width: 100%;
    z-index: -1;
}

.NavMenu.Popout{
    background-color: var(--neutral-color);
    flex-direction: column;
    padding: 25px;
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
}


@media (max-width: 750px){
    .NavMenu a{
        font-size: 1.5em;
    }
}

@media (max-width: 450px){
    .NavMenu.Popout{
        padding: 15px;
    }    

    .NavMenu a{
        font-size: 1.3em;
    }
}