.About p {
    font-family: var(--mono-font);
    font-weight: 200;
}

.About-Intro {
    font-size: 1.05em;
    line-height: 2.25em;
    /* margin-top accounts accounts for line-height making the margin-bottom of the previous H1 appear larger*/
    margin: -12px 0 10px 0;
}

.About h2 {
    margin: 20px 0 0 0;
}

#Horizontal-Lines-Flourish {
    height: 150px;
    /* margin offsets height */
    position: relative;
    top: -30px;
    margin: -75px -5vw -75px 0;
    align-self: flex-end;
}

.About-Stack {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.About-Stack p {
    font-size: 1.2em;
    line-height: 1.4em;
    margin: 20px 0;
    text-align: center;
}

.About-Stack .Dropshadow-Box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
}

.About-Stack .Dropshadow-Box p {
    font-size: 1em;
    margin: 0 30px 30px 30px;
}

#About-JointedDownArrow {
    margin: 0 auto;
    position: relative;
    right: 100px;
    transition: var(--transition);
    width: 250px;
}


#React {
    height: 90%;
}

#Python {
    width: 100%;
}

#SQL {
    width: 65%;
}

#AwsLambda {
    width: 80%;
}


@media (max-width: 900px) {
    .About-Stack .Dropshadow-Box {
        width: auto;
        padding: 20px;
    }

    .About .Dropshadow-Box .ImageTile {
        height: 100px;
        width: 170px;
    }
}

@media (max-width: 600px) {
    .About-Intro {
        font-size: 1em;
    }

    #About-JointedDownArrow {
        margin: 0;
        position: static;
        width: 50%;
    }

    #Horizontal-Lines-Flourish {
        height: 100px;
        /* margin offsets height */
        position: relative;
        top: -30px;
        margin: -50px -5vw -50px 0;
        align-self: flex-end;
    }
}

@media (max-width: 500px) {
    #Horizontal-Lines-Flourish {
        margin-right: 0;
    }
}