.About p {
    font-family: var(--mono-font);
    font-weight: 200;
}

.About-Intro {
    font-size: 1.2em;
    line-height: 2.5em;
    margin: 0 0 10px 0;
}

.About h2 {
    margin: 20px 0 0 0;
}

.About-Stack {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.About-Stack p {
    font-size: 1.1em;
    margin: 20px 0;
}

.About-Stack .Dropshadow-Box{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 750px;
}

#About-JointedDownArrow{
    margin: 0 auto;
    position: relative;
    right: 100px;
    transition: var(--transition);
    width: 250px;
}

#Node{
    width: 80%;
}

#React{
    height: 75%;
}

#Python{
    width: 90%;
}

#Java{
    height: 95%;
}

#PHP{
    width: 60%;
}

#SQL{
    width: 70%;
}

#Express{
    width: 75%;
}

#CSS,
#HTML{
    height: 65%;
}

@media (max-width: 900px){
    .About-Stack .Dropshadow-Box{
        width: auto;
        padding: 20px;
    }

    .About .Dropshadow-Box .ImageTile{
        height: 100px;
        width: 170px;
    }
}

@media (max-width: 600px){
    .About-Intro {
        font-size: 0.8em;
    }

    #About-JointedDownArrow{
        margin: 0;
        position: static;
        width: 50%;
    }
}