.NavMenu {
    --horizontal-padding: 7px;

    display: flex;
    list-style-type: none;
    margin: 0;
}

.NavMenu li {
    margin-right: 20px;
    position: relative;
    /* Allows .NavMenu-Underline to be absolutely positioned */
}

.NavMenu li:last-of-type {
    margin-right: 0;
}

.NavMenu a {
    color: var(--black);
    font-weight: 700;
    letter-spacing: -0.5px;
    font-size: 1.3em;
    text-decoration: none;
    transition: background-color var(--transition);
    padding: 2px var(--horizontal-padding) 0 var(--horizontal-padding);
}

.NavMenu a:hover {
    background-color: var(--accent-color);
}

.NavMenu-Underline {
    background-color: var(--accent-color);
    bottom: 2px;
    height: 8px;
    left: 7px;
    opacity: 0;
    position: absolute;
    transition: opacity var(--transition);
    width: calc(100% - 2 * var(--horizontal-padding));
    z-index: -1;
}

.NavMenu-Underline-Active {
    opacity: 1;
}