.About-Intro {
    font-size: 1.4em;
    line-height: 2em;
}

.About-Stack {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.About h2 {
    margin: 30px 0 0 0;
}

.About p {
    margin: 0;
}

.About-Stack p {
    font-size: 1.15em;
    font-family: var(--mono-font);
    text-transform: none;
    margin: 20px 0;
}