.About p {
    font-family: var(--mono-font);
    font-weight: 200;
}

.About-Intro {
    font-size: 1.2em;
    line-height: 2.5em;
    margin: 0 0 10px 0;
}

.About h2 {
    margin: 20px 0 0 0;
}

.About-Stack {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.About-Stack p {
    font-size: 1.1em;
    margin: 20px 0;
}

.About-Stack .Dropshadow-Box{
    max-width: 750px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

#About-JointedDownArrow{
    width: 250px;
    margin: 0 auto;
    position: relative;
    right: 100px;
}
