:root {
    --base-font: 'roc-grotesk', Helvetica, Arial, sans-serif;
    --mono-font: 'JetBrains Mono', 'Fira Code', monospace;
    font-family: var(--base-font);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*{
    box-sizing: border-box;
}
