:root {
    /* Fonts */
    --base-font: "roc-grotesk", Helvetica, Arial, sans-serif;
    --mono-font: "JetBrains Mono", "Fira Code", monospace;
    font-family: var(--base-font);
    font-weight: 300;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* Colors */
    --contrast-color: #000000;
    --accent-color: #f2ae6b;

    /* Misc */
    --transition: 0.25s ease-in-out;
}

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
