.Resume{
    align-items: center;
}

.Resume h1{
    align-self: flex-start;
}

.Resume-PDF-Link{
    margin-bottom: 15px;
    text-decoration: 3px solid underline var(--accent-color);
}

.Resume .Dropshadow-Box{
    max-width: 900px;
    padding: 75px;
}

.Resume .Dropshadow-Box>section{
    margin: 50px 0 0 0;
}

.Resume section:first-of-type{
    margin-top: 0;
}

.Resume h3{
    margin: 0 0 10px 0;
}

.Resume h4{
    margin: 25px 0 5px 0;
}

.Resume .Dropshadow-Box .Subtitle{
    font-size: 0.9em;
    margin: 0 0 10px 0;
}

.Resume li{
    font-size: 1.15em;
}