.Separator {
    align-items: flex-end;
    display: flex;
    height: 500px;
    justify-content: center;
    margin: 0 75px;
}

.Separator-Link {
    font-family: var(--mono-font);
    letter-spacing: 1px;
    font-size: 0.9em;
    font-weight: 200;
    transition: var(--transition);
    width: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.Separator-Link:hover {
    font-size: 1em;
}

.Separator-Link .Accent-Text {
    font-weight: 800;
}

.Separator-Line {
    width: 1px;
    background-color: var(--contrast-color);
    height: 100%;
}