.Splashbox {
    align-items: center;
    display: flex;
    /* height of NavBar */
    height: calc(100vh - 82px);
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    padding: 100px 10%;
}