.Splashbox {
    align-items: center;
    display: flex;
    /* height of NavBar */
    height: calc(100vh - 82px);
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 100px 10%;
}

.Splashbox-Content-Wrapper{
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    max-height: 600px;
}

#Splashbox-RectangleCircleOutline{
    width: 100px;
    position: absolute;
    top: 150px;
    right: 50px;
}

#Splashbox-CircleOutlineSolid{
    width: 100px;
    position: absolute;
    bottom: 100px;
    left: 50px;
}