.DecorativeBoxLink{
    display: flex;
    border: var(--border);
    justify-content: center;
    align-items: center;
    padding: 15px 10px 10px 15px;
    position: relative;
    width: 400px;
    height: 250px;
}

.DecorativeBoxLink::after{
    content: "";
    background-color: var(--accent-color);
    width: 101%;
    height: 101%;
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 10px;
}

@media (max-width: 410px){
    .DecorativeBoxLink{
        width: 100%;
    }
}